@import "../../../bsp-override/variables";

.avam-strategy{
    color:#c8c8c8;    
}
.btn-sm {
    padding: 0.2rem 0.4rem;
}
.strategy-leg-sell {    
    border: 1px solid $brand-danger;
    border-radius: 2px;
    margin-bottom: .3rem;
    > .header {
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 5px;
        background-color: $brand-danger;
        color: #fff;
    }
    > .detail {
        padding : 5px 3px;
    }
}
.strategy-leg-buy {
    border: 1px solid $brand-success;
    border-radius: 2px;
    margin-bottom: .3rem;
    > .header {
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 5px;
        background-color: $brand-success;
        color: #fff;
    }
    > .detail {
        padding : 5px 3px;
    }
}
.form-group {
    margin-bottom: .5rem;
}

label {
    margin-bottom: 0;
}