<form class="container-fluid" [formGroup]="orderTicketForm" (ngSubmit)="submit(orderTicketForm.value)">
  <div class="row">
    <div class="col-xs">
      <p><strong>Order Ticket [5vs7_Curve]</strong></p>

    </div>
    <div class="col-xs text-xs-right">
      <button class="btn btn-sm btn-success">BUY</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs">
      <div class="form-group">
        <label for="market">Market</label>
        <input type="number" class="form-control form-control-sm" id="market" [formControl]= "orderTicketForm.controls['market']" >
      </div>
    </div>
    <div class="col-xs">
      <div class="form-group">
        <label for="target">Target</label>
        <input type="number" class="form-control form-control-sm" id="target" [formControl]= "orderTicketForm.controls['target']">

      </div>
    </div>
    <div class="col-xs">
      <div class="form-group">
        <label for="delta">Delta</label>
        <input type="number" class="form-control form-control-sm" id="delta" [formControl]= "orderTicketForm.controls['delta']">

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <div class="strategy-leg-buy">
        <div class="header">2 YEAR</div>
        <div class="detail">
          <div class="row">
            <div class="col-xs-12 form-group">
              <label for="limitPrice">Limit Price</label>
              <input type="number" name="limitPrice" class="form-control form-control-sm" />
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <label>Qty</label>
              <input type="number" class="form-control form-control-sm" id="qty" />
            </div>
            <div class="col-xs-6">
              <span style="display:inline">
            <label style="display:inline">Drip</label>
            <input type="number" class="form-control form-control-sm" id="drip" style="display:inline"/>
          </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-4">
      <div class="strategy-leg-sell">
        <div class="header">2 YEAR</div>
        <div class="detail">
          <div class="row">
            <div class="col-xs-12 form-group">
              <label for="limitPrice">Limit Price</label>
              <input type="number" name="limitPrice" class="form-control form-control-sm" />
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <label>Qty</label>
              <input type="number" class="form-control form-control-sm" id="qty" />
            </div>
            <div class="col-xs-6">
              <span style="display:inline">
            <label style="display:inline">Drip</label>
            <input type="number" class="form-control form-control-sm" id="drip" style="display:inline"/>
          </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-4">
      <div class="strategy-leg-sell">
        <div class="header">2 YEAR</div>
        <div class="detail">
          <div class="row">
            <div class="col-xs-12 form-group">
              <label for="limitPrice">Limit Price</label>
              <input type="number" name="limitPrice" class="form-control form-control-sm" />
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <label>Qty</label>
              <input type="number" class="form-control form-control-sm" id="qty" />
            </div>
            <div class="col-xs-6">
              <span style="display:inline">
            <label style="display:inline">Drip</label>
            <input type="number" class="form-control form-control-sm" id="drip" style="display:inline"/>
          </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-1 ">
    <div class="col-xs text-xs-right">
      <!--<div class=" btn-group" >-->
        <button type="submit" class="btn btn-sm btn-danger">Submit</button>
        <button type="button" class="btn btn-sm btn-primary">Reset</button>
      <!--</div>-->
    </div>

  </div>
</form>