.panel-open {
      height: 140px;
      transition: height 150ms;
}
.panel-close {
      height: 0;
      overflow: hidden;
      transition: height 150ms;
      padding-bottom: 0;
}
.fa-15x {
      font-size: 1.5em;
}