<div class="container-fluid">
      <div class="card">
            <div class="card-header">
                  <div class="bs-row">                        
                        <div class="col-xs-11">
                              <ng-content select=".grid-settings-toolbar"></ng-content>
                        </div>
                        <div class="col-xs text-xs-right">
                              <i class="fa fa-15x" 
                                    [ngClass]="{'fa-angle-double-down': !isPanelOpen, 'fa-angle-double-up' : isPanelOpen}"
                                    aria-hidden="true" (click)="isPanelOpen=!isPanelOpen"></i>
                        </div>
                  </div>
            </div>
            <div class="card-block" [ngClass]="{'panel-open': isPanelOpen, 'panel-close' : !isPanelOpen}">
                  <grid-settings-form>
                  </grid-settings-form>
            </div>
            <div class="card-block">
                  <ng-content select=".grid-settings-content"></ng-content>
            </div>
            <div class="card-block">
                  <button class="btn btn-sm btn-success" (click)="onSuccess()">
                        Success
                  </button>
                  <button class="btn btn-sm btn-primary" (click)="onInfo()">
                        Info
                  </button>
                  <button class="btn btn-sm btn-warning" (click)="onWarning()">
                        Warning
                  </button>
                  <button class="btn btn-sm btn-danger" (click)="onError()">
                        Error
                  </button>
            </div>
            <div class="card-block mt-3">
                  <avam-animation></avam-animation>
            </div>
      </div>
      <growl-alert [options]="options"></growl-alert>
      <sticky-alert [message]="message"></sticky-alert>
      
</div>

<!--https://toddmotto.com/transclusion-in-angular-2-with-ng-content-->