<form class="container-fluid" novalidate >
      <div class="bs-row">
            <div class="col-xs">
                  <div class="form-group">
                        <label class="col-form-label-sm">Columns</label>
                        <select class="form-control form-control-sm" [(ngModel)]="selectedColumn" name="columnList"
                              (change) = "onColumnChange()">
                              <option *ngFor="let column of columns" [ngValue]="column" >{{column.name}}</option>
                        </select>
                  </div>
            </div>
            <div class="col-xs">
                   <div class="form-group">
                        <label class="col-form-label-sm">Current Caption</label>
                        <input type="text" class="form-control form-control-sm" disabled 
                              name="currentcaption" 
                              [(ngModel)]="selectedColumn.caption">
                   </div>
            </div>
            <div class="col-xs">
                   <div class="form-group">
                        <label class="col-form-label-sm">New Caption</label>
                        <input type="text" class="form-control form-control-sm">
                   </div>
            </div>
            <div class="col-xs">
                  <div class="form-group">
                        <custom-input 
                              #size = "ngModel"  
                              [(ngModel)]="selectedColumn.size" 
                              required
                              name="size">Size</custom-input>
                        <div class="error" *ngIf="size.errors && size.touched">
                              Error is here
                        </div>
                  </div>
            </div>
      </div>
      <div class="bs-row">
            <div class="col-xs">
                  <div class="btn-group">
                        <button class="btn btn-sm" [ngClass]="{'btn-primary': isVisible, 'btn-secondary' : !isVisible}" (click)="isVisible=true">Visble</button>
                        <button class="btn btn-sm" [ngClass]="{'btn-primary': !isVisible, 'btn-secondary' : isVisible}" (click)="isVisible=false">Hidden</button>
                  </div>
            </div>
      </div>
      <div class="bs-row mt-1">
            <div class="col-xs">
                  {{ selectedColumn | json }}
            </div>
      </div>
      <div class="bs-row mt-1">
            <div class="col-xs text-xs-right">
                  <input type="button" value="Save" class="btn btn-sm btn-default">
                  <input type="reset" value="Reset" class="btn btn-sm btn-danger">
            </div>
      </div>
</form>